<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--<table border="1" width="33%">
        <thead>
            <tr>
                <th colspan="3">Relación de estudiantes del semestre III</th>
            </tr>
            <tr>
                <th width="10%">Nro</th>
                <th width="30%">DNI</th>
                <th>APELLIDOS Y NOMBRES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>70198965</td>
                <td>YUCRA CURO, Anibal</td>
            </tr>
            <tr>
                <td>1</td>
                <td>70198965</td>
                <td>YUCRA CURO, Anibal</td>
            </tr>
            <tr>
                <td>1</td>
                <td>70198965</td>
                <td>YUCRA CURO, Anibal</td>
            </tr>
            <tr>
                <td>1</td>
                <td>70198965</td>
                <td>YUCRA CURO, Anibal</td>
            </tr>
            <tr>
                <th>1</th>
                <th bgcolor="#A4FF53">70198965</th>
                <th>YUCRA CURO, Anibal</th>
            </tr>
        </tbody>
    </table>
    <table width="50%" border="1" cellpadding="4" cellspacing="0" bordercolor="white">
        <tr>
            <td colspan="6" rowspan="6" width="39%" bgcolor="red">
                <img src="rojo.png" alt="" width="100%" height="100%">
            </td>
            <td width="7%">1</td>
            <td width="7%">1</td>
            <td width="7%">1</td>
            <td colspan="6" rowspan="6" width="39%" bgcolor="green">
                <img src="verde.png" alt="" width="100%" height="100%">
            </td>
        </tr>
        <tr>
            
            <td>1</td>
            <td bgcolor="green">1</td>
            <td bgcolor="green">1</td>
        </tr>
        <tr>
            
            <td>1</td>
            <td bgcolor="green">1</td>
            <td>1</td>
        </tr>
        <tr>
            
            <td>1</td>
            <td bgcolor="green">1</td>
            <td>1</td>
        </tr>
        <tr>
            
            <td>1</td>
            <td bgcolor="green">1</td>
            <td>1</td>
        </tr>
        <tr>
            
            <td>1</td>
            <td bgcolor="green">1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td bgcolor="red">1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td rowspan="3" colspan="3">
                <img src="centro.png" alt="" width="100%" height="100%">
            </td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td bgcolor="red">1</td>
            <td bgcolor="red">1</td>
            <td bgcolor="red">1</td>
            <td bgcolor="red">1</td>
            <td bgcolor="red">1</td>
            <td bgcolor="yellow">1</td>
            <td bgcolor="yellow">1</td>
            <td bgcolor="yellow">1</td>
            <td bgcolor="yellow">1</td>
            <td bgcolor="yellow">1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td bgcolor="yellow">1</td>
            <td>1</td>
        </tr>
        <tr>
            <td colspan="6" rowspan="6" width="40%" bgcolor="blue">
                <img src="azul.png" alt="" width="100%" height="100%">
            </td>
            <td width="7%">1</td>
            <td width="7%" bgcolor="blue">1</td>
            <td width="7%">1</td>
            <td colspan="6" rowspan="6" width="39%" bgcolor="yellow">
                <img src="amarillo.png" alt="" width="100%" height="100%">
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td bgcolor="blue">1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td bgcolor="blue">1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td bgcolor="blue">1</td>
            <td>1</td>
        </tr>
        <tr>
            <td bgcolor="blue">1</td>
            <td bgcolor="blue">1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>-->
    <table border="1" width="100%">
        <tr>
            <td width="10%" rowspan="2"></td>
            <td colspan="7" rowspan="2" width="50%"></td>
            <td width="13%" bgcolor="yellow"></td>
            <td colspan="2" width="13%" bgcolor="yellow"></td>
            <td width="14%" bgcolor="yellow">1</td>
        </tr>
        <tr>
            <td bgcolor="yellow"> </td>
            <td colspan="2" bgcolor="yellow"></td>
            <td bgcolor="yellow">1</td>
        </tr>
        <tr>
            <td width="10%">1</td>
            <td width="10%" bgcolor="yellow"></td>
            <td width="10%" bgcolor="yellow"></td>
            <td colspan="2" width="10%" bgcolor="yellow">2</td>
            <td colspan="2" width="10%" bgcolor="yellow">2</td>
            <td width="10%" bgcolor="yellow"></td>
            <td colspan="2" width="20%">3</td>
            <td colspan="2" width="20%">3</td>

        </tr>
        <tr>
            <td rowspan="2">1</td>
            <td colspan="3" bgcolor="yellow">1</td>
            <td colspan="2" bgcolor="yellow"></td>
            <td colspan="2" bgcolor="yellow"></td>
            <td colspan="4" rowspan="2"></td>
        </tr>
        <tr>
            <td colspan="3" bgcolor="yellow">1</td>
            <td colspan="4" bgcolor="yellow"></td>
        </tr>
    </table>
</body>
</html>